# FairTradeWorker iOS App

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build folders
ios/
android/

# Metro bundler
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# EAS
.eas/
